[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyotp = "*"
pillow = "*"
mysqlclient = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
celery = "*"
locust = "*"

[dev-packages]

[requires]
python_version = "3.11"
