<html>
  <h1>Election will start soon...</h1>
  <style>
    h1 {
      text-align: center;
      color: black;
      font-size: 75px;
    }
    body {
      background-color: rgba(228, 241, 243, 0.99);
    }
    disabled-link {
      pointer-events: none;
      color: gray;
      text-decoration: none;
    }
  </style>
  <body>
    <p id="demo"></p>
    <script src="https://cdn.logwork.com/widget/countdown.js"></script>
    <a
      href="https://logwork.com/countdown-timer"
      id="disabled-link"
      class="countdown-timer"
      data-timezone="Asia/Kathmandu"
      data-date="2025-02-19"
      >Count Down</a
    >
    <script>
      document
        .getElementById("disabled-link")
        .addEventListener("click", function (event) {
          event.preventDefault(); // Stops navigation
        });
    </script>
  </body>
</html>
